* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 25pt;
    margin: 4%;
  }
  h1 {
    font-size: 22pt;
  }
  h2 {
    font-size: 20pt;
    margin-top: 2%;
  }

  img {
      max-width: 100%;
  }

  figure {
      margin-top: 6%;
  }
}

@media screen and (min-width: 769px) {
  body {
    font-size: 30pt;
    background-color: crimson;
    margin: 4%;
  }
  h1 {
    font-size: 28pt;
  }
  
  h2 {
    font-size: 24pt;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    margin: 6% 1% 0 1%;
    width: 48%;
  }

  img {
    max-width: 100%;
  }

  figcaption {
    font-size: 24pt;
  }
}

@media screen and (min-width: 1300px) {
  body {
    font-size: 30pt;
    background-color: darkcyan;
    margin: 2%;
  }
  h1 {
    font-size: 28pt;
  }
  
  h2 {
    font-size: 24pt;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    margin: 6% 1% 0 1%;
    width: 30%;
  }

  img {
    max-width: 100%;
  }

  figcaption {
    font-size: 24pt;
  }
}